version: "3.8"

services:
  nginx:
    image: sahilghidode/devops-automation-pipeline:latest
    container_name: nginx_web
    ports:
      - "80:80"
    restart: always

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 300
    restart: always
